/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Economica:ital,wght@0,400;0,700;1,700&family=Lemonada:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400;900&display=swap');
/* CSS variables */
:root {
	--primaryColor: #00cc99;
	--mainGrey: #e8e8e8;
	--darkGrey: #a9a9a9;
	--mainWhite: #fff;
	--mainBlack: #222;
	--offWhite: #f5f5f5;
	--mainTransition: all 0.5s linear;
	--mainSpacing: 0.25rem;
	--lightShadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
	--darkShadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);

	--bgColor: #f2fcff;
	--bgCard: #e6faff;
	--bgHover: #e6faff;
	--primaryText: #222;
	--secondaryText: #a9a9a9;
	--mdTextShadow: 3px 3px 2px black;
}

[data-theme="dark"] {
	--primaryColor: #00cc99;
	--mainGrey: #e8e8e8;
	--darkGrey: #a9a9a9;
	--mainWhite: #fff;
	--offWhite: #f5f5f5;
	--mainBlack: #222;
	--mainTransition: all 0.5s linear;
	--mainSpacing: 0.25rem;

	--bgColor: #15202b;
	--bgCard: #192734;
	--bgHover: #22303c;
	--primaryText: #ffffff;
	--secondaryText: #8899a6;
}

/* Resets */
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	max-width: 100vw;
	overflow-x: hidden;
}

button {
	cursor: pointer;
}

body {
	font-family: 'Cantarell', sans-serif;
	background-color: var(--bgColor);
	color: var(--primaryText);
	line-height: 1.5;
	font-size: 1rem;
	overflow-x: hidden;
}

img {
	width: 100%;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Londrina Solid', cursive;
	margin-bottom: 1.25rem;
	letter-spacing: var(--mainSpacing);
}

h1 {
	font-size: 3.3rem;
}

h2,
h3,
h4 {
	font-family: 'Economica', sans-serif;
}

h2 {
	font-size: 2.3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.2rem;
}

p {
	margin-bottom: 1.25rem;
	line-height: 2;
	font-weight: 300;
	color: var(--secondaryText);
}

a {
	text-decoration: none;
}

p {
	font-size: 1.1rem;
	margin-bottom: 3rem;
	color: var(--primaryText);
}

p:first-child {
	margin-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Londrina Solid', cursive;
}

img {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.9rem;
}

h4 {
	font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
	h1 {
		letter-spacing: 0.5rem;
		font-size: 4.5rem;
	}

	h4 {
		font-size: 3.3rem;
	}

	h2 {
		font-size: 3.9rem;
	}

	h3 {
		font-size: 3.6rem;
	}

	p {
		font-size: 1.3rem;
	}
}

a {
	position: relative;
	display: inline-block;
	color: var(--primaryColor);
	font-weight: bold;
	cursor: pointer;
	text-transform: capitalize;
	transition: all 0.3s linear;
}

a:hover {
	border-bottom: 2px solid var(--primaryColor);
}

code:not([class]) {
	text-align: baseline;
	background-color: #243447;
	padding: 0.1rem 0.25rem;
	color: white;
}

blockquote {
	border-color: var(--primaryColor);
	border-left: 20px;
	background-color: var(--bgCard);
}

blockquote p {
	padding: 1rem;
}

strong {
	font-weight: bold;
}

ul {
	list-style-position: inside;
	list-style: none;
	margin-bottom: 4rem;
}

ul li {
	margin-left: 1.5rem;
	margin-bottom: 0.8rem;
}

ul li p {
	display: inline;
}

ul li:before {
	content: "⦿";
	font-size: 50%; /* or whatever */
	padding-right: 10px;
	vertical-align: middle;
}

section {
	margin: 0 auto;
	max-width: 1140px;
}
